<template>                
  <div v-show="value == true">
    <v-toolbar color="blue" dark tabs>
      <v-tabs
        v-model="tab"
        color="blue"
        grow
      >
        <v-tabs-slider color="yellow"></v-tabs-slider>
        <v-tab v-for="item in items" :key="item">
          {{ item }}
        </v-tab>
      </v-tabs>
    </v-toolbar>
    <v-tabs-items v-model="tab">
      <v-tab-item v-for="item in items" :key="item">
        <v-card flat>
          <v-card-text>{{ text }}</v-card-text>
        </v-card>
    <slide></slide>
      </v-tab-item>
    </v-tabs-items>
  </div>
</v-container>
</template>
<script>
  import { CRUD } from '@/constants/events'
  export default {
    data: () => {
      return {
        value: false,
        tab: null,
        items: [
          'Slide1', 'Slide2', 'Slide3', 'Slide4', 'Slide5'
        ],
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      }
    },
    methods: {
      show (payload) {
        this.value = payload
      }
    },
    created () {
      this.$eventHub.$on(CRUD, this.show)
    },
    beforeDestroy () {
      this.$eventHub.$off(CRUD, this.show)
    }
}
</script>